body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  background: url("../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a,
button {
  transition: all 500ms;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.header {
  padding: 18px 0;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  z-index: -1;
  opacity: 0.4;
}

.header-icons {
  display: flex;
  gap: 20px;
  padding-right: 30px;
  border-right: 2px solid #fff;
  margin-right: 30px;
}

.header svg {
  cursor: pointer;
}

.header svg path {
  cursor: pointer;
  transition: all 500ms;
}

.header svg:hover path {
  fill: #3cb878;
  stroke: #3cb878;
}

.header * {
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo:hover a {
  color: #3cb878;
}

.login a {
  text-decoration: underline;
}

.login a:hover {
  color: #3cb878;
}

input {
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 61px;
  margin-bottom: 16px;
}

/*form*/

.form {
  background: #fff;
  padding: 28px 60px;
}

.form > div {
  gap: 20px;
}

input:focus {
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.main {
  width: 444px;
  /* height: 584px; */
  margin: 112px auto 72px auto;
  background-position: center;
}

.form-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-nav .sign {
  color: #434343;
}

.form-nav .login {
  color: #3cb878;
}

.log {
  display: flex;
  justify-content: space-between;
}

.left-log {
  height: 48px;
  background-color: #305db8;
}

.facebook,
.google {
  font-size: 16px;
  font-weight: 400;
}

.right-log {
  height: 48px;
  background-color: #df4a32;
}

.g,
.f {
  padding-right: 10px;
  border-right: 1px solid rgba(43, 13, 9, 0.102);
}

.log > div {
  width: 100%;
  padding: 0 27px 0 15px;
}

.log .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.form {
  position: relative;
}

.box {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  top: 29px;
  left: 0;
  position: absolute;
}

.separator {
  margin: 34px 0px 4px 0px;
  text-align: center;
  position: relative;
  color: #848484;
}

.separator::before {
  content: "";
  height: 1px;
  background: #f2f2f2;
  width: 45%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.separator::after {
  content: "";
  height: 1px;
  background: #f2f2f2;
  width: 45%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-nav .sign .subtitle {
  color: #848484;
}

.sign {
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 20px;
}

.account {
  background-color: rgba(60, 185, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 46px;
  color: #ffffff;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}

.account:hover {
  background-color: rgba(60, 185, 120, 1);
}

.form .terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terms p {
  color: #434343;
  display: flex;
  gap: 5px;
}

.terms a {
  color: #3cb878;
}

.terms a:hover {
  text-decoration: underline;
}

.checkbox {
  height: 17px;
  width: 17px;
  background-repeat: no-repeat;
  background-size: 14px 15px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid silver;
  border-radius: 3px;
}

#terms:checked ~ label {
  background-image: url("../images/icons/done.svg");
}

#terms {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: -1000px;
  pointer-events: none;
}
